[Desktop Entry]
Type=Application
Name=Music
Name[de]=Musik
Name[es]=Música
Name[fr]=Musique
Name[hi]=संगीत
Name[pl]=Muzyka
Name[pt_BR]=Músicas
Name[ru]=Музыка
Name[zh_CN]=音乐
GenericName=Music Player
GenericName[de]=Musikwiedergabe
GenericName[es]=Reproductor de música
GenericName[fr]=Lecteur de musique
GenericName[hi]=संगीत प्लेयर
GenericName[pl]=Odtwarzacz muzyki
GenericName[pt_BR]=Reprodutor de músicas
GenericName[ru]=Музыкальный проигрыватель
GenericName[zh_CN]=音乐播放器
Comment=Play your music with a controller
Comment[de]=Hören Sie Ihre Musik mit einem Controller
Comment[es]=Escuche su música con un mando
Comment[fr]=Écoutez votre musique à la manette
Comment[hi]=कंट्रोलर से अपना संगीत सुनें
Comment[pl]=Słuchaj swojej muzyki za pomocą kontrolera
Comment[pt_BR]=Ouça suas músicas com um controle
Comment[ru]=Слушайте свою музыку с контроллера
Comment[zh_CN]=用手柄播放您的音乐
Exec=songonsole %f
Icon=songonsole
Terminal=false
Categories=AudioVideo;Audio;Player;Music;
MimeType=audio/mpeg;audio/mp3;audio/x-mp3;audio/flac;audio/x-flac;audio/mp4;audio/x-m4a;audio/x-m4b;audio/aac;audio/x-aac;audio/ogg;audio/x-vorbis+ogg;audio/wav;audio/x-wav;audio/aiff;audio/x-aiff;audio/x-matroska;
Keywords=music;songs;song;album;albums;artist;player;play;listen;audio;lxb;
Keywords[de]=Musik;Lied;Lieder;Album;Alben;Interpret;Player;Abspielen;Hören;Audio;lxb;
Keywords[es]=música;canción;canciones;álbum;álbumes;artista;reproductor;escuchar;audio;lxb;
Keywords[fr]=musique;morceau;morceaux;album;albums;artiste;lecteur;écouter;audio;lxb;
Keywords[hi]=संगीत;गाना;गाने;एलबम;कलाकार;प्लेयर;सुनें;ऑडियो;lxb;
Keywords[pl]=muzyka;utwór;utwory;album;albumy;wykonawca;odtwarzacz;słuchaj;audio;lxb;
Keywords[pt_BR]=música;músicas;álbum;álbuns;artista;reprodutor;ouvir;áudio;lxb;
Keywords[ru]=музыка;композиция;альбом;альбомы;исполнитель;проигрыватель;слушать;аудио;lxb;
Keywords[zh_CN]=音乐;歌曲;专辑;艺人;播放器;播放;收听;音频;lxb;
StartupNotify=true
StartupWMClass=songonsole
X-GNOME-SingleWindow=true
